@charset "utf-8";

// Custom design palette.
$primary: #5f25f5;
$secondary: #fbcab8;
$tertiary: #ff0084;

$background-primary: #8f57e2;
$background-secondary: #f3c1bb;

$background-gradient: linear-gradient(142deg, #8f57e2 3%, #fbcab8 31%, #fbcab8 62%, #8f57e2 98%);

$title-color: $primary;
$content-heading-color: $primary;

$link: $primary;
$link-hover: $tertiary;
$navbar-item-color: $primary;
$navbar-item-hover-color: $tertiary;

@import "~bulma/bulma.sass";


h1, h2, h3, h4, h5, a {
    font-family: 'Poppins', 'sans-serif' !important;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

a {
    transition: color 0.2s ease-out, font-weight 0.3s ease-out !important;
    font-weight: 700 !important;

    .blog-post:hover & {
        color: $tertiary
    }
}

::-moz-selection { background: $tertiary; color: $secondary }
::selection { background: $tertiary; color: $secondary}


// Home/Landing page
// Static/fixed elements
.year-accent {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
    color: $secondary;
    writing-mode: vertical-rl;
    display: inline-block;
    text-orientation: upright;

    @media screen and (min-width: 1024px) { 
        position: fixed;
    }

    @media screen and (max-width: 1023px), (max-height : 900px) {
        position: static;
    }
}

.full-stack-badge {
    position: fixed;
    bottom: 65px;
    left: 60px;

    // Set size for hi-res devices
    @media screen and (min-width: 1024px) {
        img { 
            width: 300px;
            height: 300px;
        }
    }

    // Resize to be smallet as the height decreases
    @media screen and (max-width: 2000px) and (max-height: 1200px) { 
        img {
             width: 200px;
             height: 200px;
         }
     }

    // Disable on mobile
    @media screen and (max-width: 1023px), (max-height : 900px) {
        display: none;
    }

    @media screen and (max-width: 2000px) and (max-height: 1200px) { 
       img {
            width: 200px;
            height: 200px;
        }
    }
}

// Set background image for hero on home page
.hero {
    color: $primary;

    background: #fbcab8;
    background: $background-gradient;
}

.hero-title {
    font-weight: 700;

    @media screen and (min-width: 769px) {
        font-size: 5rem;
    }

    @media screen and (max-width: 1223px), (max-height : 900px) {
        font-size: 3rem;
    }
}

.contact-me {
    padding-top: 2rem;

    a {
    
        &::after {
        
        content: '';
        }

        &:last-child::after {
            content: '';
        }
    }
}

// Blog layout
.blog {
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(220,210,236,1) 100%);
    background-size: auto;
    background-repeat: no-repeat;

    .container {

        @media screen and (min-width: 1408px) {
            max-width: 680;
        }
        @media screen and (min-width: 1216px) {
            max-width: 680px;
        }
        @media screen and (min-width: 1024px) {
            max-width: 680px;
        }
    }

    .blog-post {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .blog-post-details {
        padding-bottom: 50px;
    }
}

.actions {
    padding-top: 20px;
}

.read-more {
    .read-more-icon {
        padding-left: 5px;
        vertical-align: sub;
    }
}
